* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background: #e9e9e9f2;
  }
  
  #container {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #card {
    width: 390px;
    height: 800px;
    position: relative;
    user-select: none;
  }

  img,
  canvas {
    border-radius: 0px;
  }
  
  #card:active {
    transform: scale(1.0);
  }